@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-main: #292c34;
}

.custom-logo {
	max-width: 32px !important;
}

.post-thumbnail img {
	border-radius: 16px;
	width: 100%;
	max-width: 496px;
	-webkit-box-shadow: 0px 30px 100px -70px rgba(110, 110, 110, 1);
	-moz-box-shadow: 0px 30px 100px -70px rgba(110, 110, 110, 1);
	box-shadow: 0px 30px 100px -70px rgba(110, 110, 110, 1);
	transition: all 0.3s ease-in-out;
}

.post-thumbnail img:hover {
	-webkit-box-shadow: 0px 30px 100px -30px rgba(115, 114, 115, 1);
	-moz-box-shadow: 0px 30px 100px -30px rgba(115, 114, 115, 1);
	box-shadow: 0px 30px 100px -30px rgba(115, 114, 115, 1);
}

.entry-title {
	font-size: 2rem;
}

.entry-meta {
	color: #6b7280 !important;
}

.more-link {
	border: 2px solid #6b7280;
	width: fit-content;
	padding: 4px 16px 4px 16px;
	border-radius: 6px;
	color: #6b7280 !important;
	transition: all 0.3s ease-in-out;
}

.more-link:hover {
	border-color: #fff;
	color: #fff !important;
}

a:visited {
	color: unset;
}
